body{
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(11, 56, 11) ;
    background-color: rgb(95, 186, 95);
    margin-left: 20%;
    margin-right: 20%;

    
}   



ul{
list-style-type:none;
}
.error{
    border-color: 2px solid rgb(223, 56, 56);
    color:red;
    font-size: xx-small;
}
